body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border: 2px solid black;
}

.square {
    box-sizing: border-box; /* para o quadrado não sair do quadro */
    border: 1px solid #ddd;
    background-color: white;
}